@media (max-width: 768px) {
    
    .text {
        text-align: center;
    }

    .build {
        width: auto;
    }

    .build h2 {
        font-size: 18px;
    }

    .build p {
        font-size: 6px;
    } 

    .build button{
        font-size: 5px;
    }

    .bg-text h1{
        font-size: 20px;
    }
    .bg-text p{
        font-size: 10px;
    }
    .bg-text button{
        font-size: 9px;
    }
    .bg-text span{
        font-size: 9px;
    }

    .footer-text {
        text-align: center;
    }
}

